<div class="section">
  <div class="content">
    <div class="buttons">
      <button (click)="start()" class="button is-primary">
        Start
      </button>
      <button (click)="stop()" class="button is-warning">
        Stop
      </button>
      <button (click)="reset()" class="button is-danger">
        Reset
      </button>
    </div>
    <p class="is-medium">
      For both Behavior Subject and Replay Subject, we have 3 listeners. Listener 1 starts listening immediately, while
      listener 2 start listening after 10 seconds and listener 3 start listening after 30 seconds. A new observable is
      emited every second for both Behavior Subject and Replay Subject.
    </p>
  </div>
  <div class="columns">
    <div class="column">
      <h3 class="title">Behavior Subject</h3>
      <div class="columns is-full">
        <div class="column">
          <h4 class="subtitle">Listener 1</h4>
          <ng-container *ngFor="let str of behaviourSubjectValues">
            <span> {{ str | date:"mediumTime" }} </span> <br>
          </ng-container>
        </div>
        <div class="column">
          <h4 class="subtitle">Listener 2</h4>
          <ng-container *ngFor="let str of behaviourSubjectValues2">
            <span> {{ str | date:"mediumTime" }} </span> <br>
          </ng-container>
        </div>
        <div class="column">
          <h4 class="subtitle">Listener 3</h4>
          <ng-container *ngFor="let str of behaviourSubjectValues3">
            <span> {{ str | date:"mediumTime" }} </span> <br>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="column">
      <h3 class="title">Replay Subject</h3>
      <div class="columns">
        <div class="column">
          <h4 class="subtitle">Listener 1</h4>
          <ng-container *ngFor="let str of replaySubjectValues">
            <span> {{ str | date:"mediumTime" }} </span> <br>
          </ng-container>
        </div>
        <div class="column">
          <h4 class="subtitle">Listener 2</h4>
          <ng-container *ngFor="let str of replaySubjectValues2">
            <span> {{ str | date:"mediumTime" }} </span> <br>
          </ng-container>
        </div>
        <div class="column">
          <h4 class="subtitle">Listener 3</h4>
          <ng-container *ngFor="let str of replaySubjectValues3">
            <span> {{ str | date:"mediumTime" }} </span> <br>
          </ng-container>
        </div>
      </div>
    </div>

  </div>

</div>
