<div class="section">
  <div class="column">
    <h2 class="title is-2">RXJS: Bevahior Subject vs Replay Subject</h2>
    <p class="content is-medium">
      This is a simple example showing how both RXJSs Behavior Subject and Replay Subject defer from each.
    </p>
    <p class="content is-medium">
      For both Behavior Subject and Replay Subject, we have 3 listeners. Listener 1 starts listening immediately, while
      listener 2 start listening after 10 seconds and listener 3 start listening after 30 seconds. A new observable is
      emited every second for both Behavior Subject and Replay Subject.
    </p>
    <div class="buttons">
      <button (click)="start()" class="button is-primary">
        Start
      </button>
      <button (click)="stop()" class="button is-warning">
        Stop
      </button>
      <button (click)="reset()" class="button is-danger">
        Reset
      </button>
    </div>


  </div>
  <div class="columns">
    <div class="column">
      <h3 class="title">Behavior Subject</h3>
      <p class="content is-success is-medium">
        NB: With Behavior Subjects, when a new listener subscribes, it only receives the last emited value.
      </p>
      <div class="columns is-full">
        <div class="column">
          <h4 class="subtitle">Listener 1</h4>
          <div *ngIf="behaviourSubjectValues.length > 0" class="list has-background-primary is-hoverable">
            <ng-container *ngFor="let str of behaviourSubjectValues">
              <span class="list-item"> {{ str | date:"mediumTime" }} </span>
            </ng-container>
          </div>
        </div>
        <div class="column">
          <h4 class="subtitle">Listener 2</h4>
          <div *ngIf="behaviourSubjectValues2.length > 0" class="list has-background-success is-hoverable">
            <ng-container *ngFor="let str of behaviourSubjectValues2">
              <span *ngIf="str" class="list-item"> {{ str | date:"mediumTime" }} </span>
              <span *ngIf="!str" class="list-item"> -- </span>
            </ng-container>
          </div>
        </div>
        <div class="column">
          <h4 class="subtitle">Listener 3</h4>
          <div *ngIf="behaviourSubjectValues3.length > 0" class="list has-background-info is-hoverable">
            <ng-container *ngFor="let str of behaviourSubjectValues3">
              <span *ngIf="str" class="list-item"> {{ str | date:"mediumTime" }} </span>
              <span *ngIf="!str" class="list-item"> -- </span>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <h3 class="title">Replay Subject</h3>
      <p class="content is-medium is-success">
        NB: With Replay Subjects, when a new listener subscribes, it only receives all emited value.
      </p>
      <div class="columns">
        <div class="column">
          <h4 class="subtitle">Listener 1</h4>
          <div *ngIf="replaySubjectValues.length > 0" class="list has-background-primary is-hoverable">
            <ng-container *ngFor="let str of replaySubjectValues">
              <span class="list-item"> {{ str | date:"mediumTime" }} </span>
            </ng-container>
          </div>
        </div>
        <div class="column">
          <h4 class="subtitle">Listener 2</h4>
          <div *ngIf="replaySubjectValues2.length > 0" class="list has-background-success is-hoverable">
            <ng-container *ngFor="let str of replaySubjectValues2">
              <span class="list-item"> {{ str | date:"mediumTime" }} </span>
            </ng-container>
          </div>
        </div>
        <div class="column">
          <h4 class="subtitle">Listener 3</h4>
          <div *ngIf="replaySubjectValues3.length > 0" class="list has-background-info is-hoverable">
            <ng-container *ngFor="let str of replaySubjectValues3">
              <span class="list-item"> {{ str | date:"mediumTime" }} </span>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
